<div class="container bg-gray border-top pt-3 bg-gray">
  <footer class="pv-4">
    <div class="d-none d-md-block">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2022 EnjambreBit SRL.</p>
        </div>
        <div class="col-md-6 text-end">
          <a href="https://www.facebook.com/scipyla" target="_blank" class="text-dark px-1"><i class="fa-brands fa-facebook fa-xl"></i></a>
          <a href="https://twitter.com/scipyla" target="_blank" class="text-dark px-1"><i class="fa-brands fa-twitter fa-xl"></i></a>
          <a href="https://www.instagram.com/scipyla/" target="_blank" class="text-dark px-1"><i class="fa-brands fa-instagram fa-xl"></i></a>
          <a href="https://www.youtube.com/c/scipyla" target="_blank" class="text-dark px-1"><i class="fa-brands fa-youtube fa-xl"></i></a>
          <a href="https://www.linkedin.com/company/scipyla/" target="_blank" class="text-dark px-1"><i class="fa-brands fa-linkedin fa-xl"></i></a>
          <a href="https://t.me/scipyla" target="_blank" class="text-dark px-1"><i class="fa-brands fa-telegram fa-xl"></i></a>
        </div>
      </div>
    </div>
    <div class="row d-md-none">
      <div class="col-sm-12 text-center mb-4">
        <a href="https://www.facebook.com/scipyla" target="_blank" class="text-dark px-1"><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a href="https://twitter.com/scipyla" target="_blank" class="text-dark px-1"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <a href="https://www.instagram.com/scipyla/" target="_blank" class="text-dark px-1"><i class="fa-brands fa-instagram fa-xl"></i></a>
        <a href="https://www.youtube.com/c/scipyla" target="_blank" class="text-dark px-1"><i class="fa-brands fa-youtube fa-xl"></i></a>
        <a href="https://www.linkedin.com/company/scipyla/" target="_blank" class="text-dark px-1"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a href="https://t.me/scipyla" target="_blank" class="text-dark px-1"><i class="fa-brands fa-telegram fa-xl"></i></a>
      </div>
      <div class="col-sm-12 text-center">
        <p>&copy; 2022 EnjambreBit SRL.</p>
      </div>
    </div>
  </footer>
</div>
