<div class="container bg-gray">
  <footer class="pv-4">
    <div class="d-flex justify-content-between py-3 border-top p-4">
      <p>&copy; 2022 EnjambreBit SRL.</p>
      <div></div>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a href="https://www.facebook.com/scipyla" target="_blank" class="text-dark"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
        <li class="ms-3"><a href="https://twitter.com/scipyla" target="_blank" class="text-dark"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
        <li class="ms-3"><a href="https://www.instagram.com/scipyla/" target="_blank" class="text-dark"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
        <li class="ms-3"><a href="https://www.youtube.com/c/scipyla" target="_blank" class="text-dark"><i class="fa-brands fa-youtube fa-xl"></i></a></li>
        <li class="ms-3"><a href="https://www.linkedin.com/company/scipyla/" target="_blank" class="text-dark"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
        <li class="ms-3"><a href="https://t.me/scipyla" target="_blank" class="text-dark"><i class="fa-brands fa-telegram fa-xl"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
