{% extends 'base.html' %}
{% load static %}

{% block body_content %}
  {{ block.super }}

  <style>
    .header-margin {
      background-color: #f0d9a5;
    }
  </style>
  
  <div class="min-vh-100">
    <div class="container-fluid home-header pb-4">
      <img class="d-block mx-auto w-100 mw6 mb-4" src="{% static 'assets/images/scipy-la-2022_logo.png' %}" alt="">
    </div>
    <div class="container py-5 px-4 mb-3 text-center">
      <div class="flex mb-4">
        <div class="flex1 pt-4 pl-3">
          <div class="h1-border"></div>
        </div>
        <div class="px-3">
          <h1 class="border-0">{{ event.name }}</h1>
        </div>
        <div class="flex1 pt-4 pl-3">
          <div class="h1-border"></div>
        </div>
      </div>
      
      <div class="mt-3 pa-3 h4 w-100 text-center">
          Desde el {{ event.start_date | date:"d" }}
          al {{ event.end_date | date:"d \d\e F \d\e Y" }}
      </div>

      <div class="container pa-3 w-100 text-center">
        <div class="fw5">
          Llamado a propuestas (call for proposal)
        </div>
        <div>
          Desde el {{ event.call_for_talks_start | date:"d \d\e F" }}
          al {{ event.call_for_talks_end | date:"d \d\e F \d\e Y" }} 
          {% if event.call_for_talks_active %}
            <a href="{% url 'event-talk-registration' event.id %}" class="underline">Participa como Speaker</a>
          {% endif %}
        </div>
      </div>

      
      <div class="col-lg-6 mx-auto text-start">
        <p class="lead mb-4"> {{ event.description|format_as_md }} </p>
      </div>
    </div>

    
    <script>
      function handleTickInit(tick) {
    
            // Uncomment to set labels to different language ( in this case Dutch )
            var locale = {
                YEAR_PLURAL: 'Años',
                YEAR_SINGULAR: 'Año',
                MONTH_PLURAL: 'Meses',
                MONTH_SINGULAR: 'Mes',
                WEEK_PLURAL: 'Semanas',
                WEEK_SINGULAR: 'Semana',
                DAY_PLURAL: 'Días',
                DAY_SINGULAR: 'Sía',
                HOUR_PLURAL: 'Horas',
                HOUR_SINGULAR: 'Hora',
                MINUTE_PLURAL: 'Minutos',
                MINUTE_SINGULAR: 'Minuto',
                SECOND_PLURAL: 'Segundos',
                SECOND_SINGULAR: 'Segundo',
                MILLISECOND_PLURAL: 'Milisegundos',
                MILLISECOND_SINGULAR: 'Milisegundo'
            };
            for (var key in locale) {
                if (!locale.hasOwnProperty(key)) { continue; }
                tick.setConstant(key, locale[key]);
            }
    
        var nextYear = (new Date()).getFullYear() + 1;
        Tick.count.down('2022-09-26').onupdate = function(value) {
          tick.value = value;
        };
      }
    </script>

    <style>
      .tick {
          padding-bottom: 0;
          font-size: 0.5rem;
          font-family: "Helvetica Neue", Roboto, sans-serif;
      }
      
      .tick-label {
          font-size: 1rem;
          text-align: center;
      }

      .tick-group {
          margin: 0 0.25rem;
          text-align:center;
      }

      @media screen and (min-width: 992px) {
        .tick-label {
          font-size: 1.5rem;
          text-align: center;
        }

        .tick-group {
            margin: 0 0.5rem;
            text-align:center;
        }
      }
    </style>

    <div class="container py-3 mb-5 home-header">
      <div class="text-center p-3">
        <h2>Tiempo hasta que comience el evento.</h2>
      </div>
      <div class="tick mw7 mx-auto"
        data-did-init="handleTickInit">
        <div 
          data-repeat="true"
          data-layout="horizontal center fit"
          data-transform="preset(d, h, m, s) -> delay">
          <div class="tick-group">
            <div 
              data-key="value"
              data-repeat="true"
              data-transform="pad(00) -> split -> delay">
                <span data-view="flip"></span>
              </div>
              <span
                data-key="label"
                data-view="text"
                class="tick-label">
              </span>
            </div>
        </div>
      </div>
    </div>


    {% comment %} Speakers {% endcomment %}

    <div class="container pb-4">
      <h2 class="text-center">Keynotes / Charla Magistral</h2>
      <div class="d-flex flex-wrap justify-content-center">
      {% for speaker in keynotes %}
        <div class="text-center p-4">
          <a href="{% url 'speaker_profile' speaker.id %}">
            {% if speaker.photo %}
            <img src="{{ speaker.photo.url }}" alt="Foto de {{ speaker.profile.full_name }}" class="profile-photo-thumb">
            {% else %}
            <img src="/static/assets/images/perfil-hombre-default.jpg" alt="foto de {{ speaker.profile.full_name }}" class="profile-photo-thumb">
            {% endif %}
            <div class="h4 mt-3 red-wine">
              {{ speaker.profile.full_name }}
            </div>
            <div class="em">
              {% if speaker.profile.job_title %}
                {{ speaker.profile.job_title }}
              {% endif %}
            </div>
            <div class="black">
              {% if speaker.profile.country %}
                {{ speaker.profile.country }} 
              {% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
      </div>
    </div>

    <div class="container pb-4">
      <h2 class="text-center pb-4">Ponentes</h2>

      <div class="row">
      {% for speaker in speakers %}
        <div class="col-md-4 col-lg-3 pb-3">
          <div class="text-center">
            <a href="{% url 'speaker_profile' speaker.id %}">
              {% if speaker.photo %}
              <img src="{{ speaker.photo.url }}" alt="Foto de {{ speaker.profile.full_name }}" class="profile-photo-thumb">
              {% else %}
              <img src="/static/assets/images/perfil-hombre-default.jpg" alt="foto de {{ speaker.profile.full_name }}" class="profile-photo-thumb">
              {% endif %}
              <div class="h4 mt-3 red-wine">
                {{ speaker.profile.full_name }}
              </div>
              <div class="em">
                {% if speaker.profile.job_title %}
                  {{ speaker.profile.job_title }}
                {% endif %}
              </div>
              <div class="black">
                {% if speaker.profile.country %}
                  {{ speaker.profile.country }} 
                {% endif %}
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    {% comment %} Sponsors {% endcomment %}

    <div class="container pb-4">
      <h2 class="text-center pb-4">Sponsors</h2>
      {% for sponsor_level in sponsors_level  %}
      <div class=" mb-4">
        <h3>
          {{ sponsor_level.detail.name }}
        </h3>
        <div class="row">
          {% for sponsor in sponsor_level.sponsors  %}
            <div class="col-md-3 p-3 text-center">
              <a href="{{ sponsor.url }}" alt="{{ sponsor.name }}">
                <img src="{{ sponsor.logo.url  }}" alt="{{ sponsor.name }}" class="w-60">
                <div>
                  {{ sponsor.name }}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="container text-center p-4">
      <a class="btn btn-primary p-4" href="mailto:contacto@pythoncientifico.ar">Quiero ser Sponsor</a>
    </div>
  </div>
{% endblock %}


