{% extends 'base.html' %}

{% block head_content %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

  <style>
    #map { 
      width: 500px;
      height: 180px; 
    }
  </style>

{% endblock  %}

{% block body_content %}
  {{ block.super }}

  <div class="container">
    <div class="h2 p-3">
      Location
    </div>

    <div class="row">
      <div class="col-md-6 p-3">
        <div id="leafletmap" style="width: 100%; height: 400px;"></div>
        <script>
          var map = L.map('leafletmap').setView([{{ event.address.latitude }}, {{ event.address.longitude }}], 16);
          var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
              'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
          }).addTo(map);
      
          var marker = L.marker([{{ event.address.latitude }}, {{ event.address.longitude }}]);
          marker.bindPopup('{{ event.address.name }}').openPopup();
          marker.addTo(map);
        </script>
      </div>
      <div class="col-md-6 p-3">
        <div class="h4 pt-4">
          {{ event.address.name }}
        </div>
        <div>
          {{ event.address.address_line_1 }} {{ event.address.address_line_2|default:"" }}
        </div>
        <div>
          CP: {{ event.address.zipcode }}
        </div>
        <div>
          {{ event.address.city }}, {{ event.address.state }}, {{ event.address.country.name }}
        </div>
      </div>
    </div>
  </div>

  <div class="container p-3">
    {% if event.location_content %}
      {{ event.location_content.content | format_as_md  }}
    {% endif %}
  </div>
  
{% endblock %}