__pycache__
*.pyc 
*.pyo
.DS_Store
dump.rdb
*.sqlite
*.sqlite3
*.zip
.vscode/
*.env
staticfiles/
.pytest_cache/
notebook/
postgres_volume/
notebook/
releases/
media/
media_files/
media_locale_files/
media_archivos_locales/
*.sh
