[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
djangorestframework = "*"
markdown = "*"
black = "*"
django-cors-headers = "*"
django-environ = "*"
psycopg2 = "==2.8.6"
psycopg2-binary = "==2.8.6"
dj-database-url = "*"
python-dateutil = "*"
pillow = "*"
sentry-sdk = "*"
sorl-thumbnail = "*"
sorl-thumbnail-serializer-field = "*"
gunicorn = "*"
django-rest-polymorphic = "*"
django-polymorphic = "*"
django-filter = "*"
django-widget-tweaks = "*"
whitenoise = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-import-export = "*"

[dev-packages]

[requires]
python_version = "3.9"
