{% extends 'base.html' %}

{% block body_content %}
{{ block.super }}
  <div class="container minh-80vh">
    <div class="flex mb-4">
      <div class="flex1 pt-4 pl-3">
        <div class="border"></div>
      </div>
      <div class="px-3">
        <h1>{{ event.name }}</h1>
      </div>
      <div class="flex1 pt-4 pl-3">
        <div class="border"></div>
      </div>
    </div>

    <!-- <div class="mb-3 border-bottom">
      <h2>Keynotes</h2>
    </div> -->

    {% for speaker in speakers %}
    <div class="row mb-4 pb-4">
      <div class="col-md-3 text-center">
        {% if speaker.photo %}
        <img src="{{ speaker.photo.url }}" alt="" class="profile-photo-thumb">
        {% else %}
        <img src="/static/assets/images/perfil-hombre-default.jpg" alt="" class="profile-photo-thumb">
        {% endif %}
      </div>
      <div class="col-md-9">
        <div class="h4">
          {{ speaker.profile.full_name }}
        </div>
        <div class="h7 mb-3 em">
          {% if speaker.profile.job_title %}
            {{ speaker.profile.job_title }}
          {% endif %}
        </div>
        <div>
          {{ speaker.biography|format_as_md }}
        </div>
      </div>
    </div>
    {% endfor %}

    {% if not_speakers %}
    <div class="my-3 alert alert-warning">
      Disculpe las molestias, aun no se ha publicado el cronograma de los oradores.
    </div>
    {% endif %}
  </div>
{% endblock %}