{% extends 'base.html' %}
{% load event_talk_tags %}

{% block body_content %}
{{ block.super }}
  <div class="container min-vh-100">
    <div class="flex mb-3">
      <div class="flex1 pt-4 pl-3">
        <div class="border"></div>
      </div>
      <div class="px-3">
        <h1>{{ event.name }}</h1>
      </div>
      <div class="flex1 pt-4 pl-3">
        <div class="border"></div>
      </div>
    </div>

    {% for talk in talks %}
      {% talk_preview talk=talk %}
    {% endfor %}

    {% if not_talks %}

    <div class="my-4 alert alert-warning">
      Disculpe las molestias, aun no se ha publicado el cronograma de sprints.
    </div>

    <div class="container pa-3 w-100 text-center">
      <div class="fw5 h3">
        Llamado a propuestas (call for proposal)
      </div>
      <div>
        Desde el {{ event.call_for_talks_start | date:"d \d\e F" }}
        al {{ event.call_for_talks_end | date:"d \d\e F \d\e Y" }} 
        {% if event.call_for_talks_active %}
        {% endif %}
      </div>
      <div class="my-3">
        <a href="{% url 'event-talk-registration' event.id %}"  class="btn btn-primary">Participa como Speaker</a>
      </div>
    </div>
    {% endif %}

  </div>
{% endblock %}