{% extends 'base.html' %}

{% block body_content %}
  {{ block.super }}

  <div class="container pa-4 min-vh-100">
    <div>
      <h3>
        {{ talk_room.talk.name }} - Asistencia
      </h3>
      <div>
        <h4>
          {{ talk_room.date_as_str }} {{ talk_room.start_as_str }} - {{ talk_room.end_as_str }}
        </h4>
      </div>
    </div>

    <div class="py-4">
      <table class="w-100 table">
        <thead>
          <tr>
            <th>Nombre y Apellido</th>
            <th>DNI/Pasaporte</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for attendant in attendees %}
          <tr class="resaltar">
            <td>{{ attendant.profile.full_name }}</td>
            <td>
              {% if attendant.profile.document_number %}
                {{ attendant.profile.get_document_type_display }} - {{ attendant.profile.document_number }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {% if attendant.profile.id in confirmed_assistance %}
                <a href="{% url 'workshop-attendance-update' talk_room.id attendant.profile.id %}" class="btn btn-primary">
                  Presente
                </a>
              {% else %}
                <a href="{% url 'workshop-attendance-update' talk_room.id attendant.profile.id %}" class="btn btn-secondary">
                  Ausente
                </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <style>
    .resaltar:hover {
      background-color: rgba(240, 217, 165, 0.5);
    }

  </style>
{% endblock %}



