{% extends 'base.html' %}
{% load static %}

{% block body_content %}
{{ block.super }}
  <div class="container px-4">
    <div class="flex mb-4">
      <div class="flex1 pt-4 pl-3">
        <div class="h1-border"></div>
      </div>
      <div class="px-3">
        <h2 class="border-0"><a href="{% url 'talks-agenda'%}">Agenda</a></h2>
      </div>
      <div class="flex1 pt-4 pl-3">
        <div class="h1-border"></div>
      </div>
    </div>
  </div>

  <div class="container px-4 min-vh-100">
    <div class="row">
      <div class="col-md-4">
					<div class="today">
				    <div class="today-piece  top  day"> Lunes</div>
				    <div class="today-piece  middle  month">Septiembre</div>
				    <div class="today-piece  middle  date">
              <a href="{% url 'talks-agenda-day' 26 %}">26</a>
            </div>
				    <div class="today-piece  bottom  year">2022</div>
					</div>
      </div>
      <div class="col-md-4">
					<div class="today">
				    <div class="today-piece  top  day"> Martes</div>
				    <div class="today-piece  middle  month">Septiembre</div>
				    <div class="today-piece  middle  date"><a href="{% url 'talks-agenda-day' 27 %}">27</a></div>
				    <div class="today-piece  bottom  year">2022</div>
					</div>
       </div>

      <div class="col-md-4">
					<div class="today">
				    <div class="today-piece  top  day"> Miercoles</div>
				    <div class="today-piece  middle  month">Septiembre</div>
				    <div class="today-piece  middle  date"><a href="{% url 'talks-agenda-day' 28 %}">28</a></div>
				    <div class="today-piece  bottom  year">2022</div>
					</div>
      </div>
    </div>
  </div>

    <div class="border-bottom">
      <h3>Eventos en los que participaste</h3>
    </div>
    <div class="pb-3">
      <table class="table w-100">
        <thead>
          <tr>
            <th>Evento</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Activo</th>
            <th>Cronograma</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for registration in registrations %}
            <tr>
              <td> {{ registration.event.name }} </td>
              <td> {{ registration.event.start_date }} </td>
              <td> {{ registration.event.end_date }} </td>
              <td> {{ registration.event.active }} </td>
              <td> 
                <a href="{% url 'event_talks' registration.event.id %}">Charlas</a> 
              </td>
            </tr>
          {% endfor %}

          {% if not registrations|length %}
              <tr>
                <td colspan="5"> No estas registrado en ningun evento. </td>
              </tr>

          {% endif %}
        </tbody>
      </table>
    </div>

    <div class="border-bottom">
      <div class="row">
        <div class="col-md-9">
          <h3>Propuestas de Charlas</h3>
        </div>
      </div>
    </div>

    <div class="pb-3">
      <table class="table w-100">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Evento</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for talk in talks %}
            <tr>
              <td> {{ talk.name }} </td>
              <td> {{ talk.event.name }} </td>
              <td> {{ talk.talk_type }} </td>
              <td> {{ talk.status }} </td>
              <td>
                <a href="{% url 'talk_preview' talk.id %}">Detalle</a>
              </td>
            </tr>
          {% endfor %}

          {% if not talks|length %}
            <tr>
              <td colspan="5"> No tienes charlas propuestas. </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      <div class="col-md-12 text-end">
        {% if event %}
          <a class="btn btn-primary" href="{% url 'event-talk-registration' event.id %}">Presentar propuesta</a>
        {% endif %}
      </div>
    </div>


    {% comment %}  Workshop/Taller/Sprints a los que te inscribiste {% endcomment %}

    <div class="border-bottom">
      <div class="row">
        <div class="col-md-9">
          <h3>Workshop/Taller/Sprints a los que te inscribiste</h3>
        </div>
      </div>
    </div>

    <div class="">
      <table class="table w-100">
        <thead>
          <tr>
            <th>Evento</th>
            <th>Taller</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for talk in talk_registrations %}
            <tr>
              <td> {{ talk.talk.event.name }} </td>
              <td> {{ talk }} </td>

              <td>
                <a href="{% url 'talk-registration-del' talk.talk.id %}">Anular</a>
              </td>
            </tr>
          {% endfor %}

          {% if not talk_registrations|length %}
            <tr>
              <td colspan="5"> No se inscribió en ningún Workshop/Taller/Sprints </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="col-md-12 text-end">
      <a class="btn btn-primary" href="{% url 'talk-registration' %}">Inscripción</a>
    </div>
  </div>
    <style>
.today {
  width: 100%;
  -webkit-box-shadow: 0px 15px 30px -16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 15px 30px -16px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 15px 30px -16px rgba(0, 0, 0, 0.3); 
}

.today-piece {
  border-radius: 0.25rem;
  padding: 1.6rem;
  {% comment %} font-size: 1.25em; {% endcomment %}
  text-align: center;
  background: white; }

.top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.middle {
  border-radius: 0; }

.bottom {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.day,
.year {
  font-size: 0.65em;
  font-weight: 500;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: white;
  background: #ffbb47; }

.month {
  padding-top: 1.75rem;
  padding-bottom: 0;
  font-size: 1.5em;
  font-weight: 200; }

.date {
  padding-top: 0;
  padding-bottom: 1.75rem;
  font-size: 3em;
  font-weight: 100;
  color: #000; }      
    </style>
{% endblock %}
