{% extends "base.html" %}
{% load static %}


{% block body_content %}
<div class="parent login-wrapper bg-beige-gradient">
  <div class="child pb-5">
    <div class="container-fluid pb-4">
      <img class="d-block mx-auto w-100 mw6 mb-4" src="{% static 'assets/images/scipy-la-2022_logo.png' %}" alt="">
    </div>
    <div class="mw7 mx-auto px-3">
      <h2>Restablecimiento de contraseña completado</h2>

      <div class="mt-3">
        Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.
      </div>

      <div class="mt-3">
        <a href="{% url 'login' %}">Iniciar sesión</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

