{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_content %}
<div class="parent login-wrapper bg-beige-gradient">
  <div class="child pb-5">
    <div class="container-fluid pb-4">
      <img class="d-block mx-auto w-100 mw6 mb-4" src="{% static 'assets/images/scipy-la-2022_logo.png' %}" alt="">
    </div>
    <div class="mw6 mx-auto px-3">
      {% if validlink %}
      <h2>Escriba la nueva contraseña</h2>

      <div class="text-left">
        Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.
      </div>

      <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="col-lg-12 mt-3">
          <button type="submit" class="btn btn-primary w-100">Cambiar mi contraseña</button>
        </div>
      </form>
      {% else %}

      <div>
        <p>El enlace de restablecimiento de contraseña no es válido, 
          posiblemente porque ya se usó. Solicite un nuevo restablecimiento de contraseña.</p>
      </div>

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}




