{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block body_content %}
  {{ block.super }}
  
  <div class="container mw6 mx-auto py-4">
    <div class="h2 mb-3">
      Registrarse
    </div>
    
    <form method="post" action="{% url 'registration' %}">
      {% csrf_token %}

      {{ form | crispy }}

      <div class="form-group mt-4">
        <input type="submit"  value="Enviar" class="btn btn-primary w-100" />
      </div>
    </form>
  </div>
{% endblock %}