{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block body_content %}
  {{ block.super }}
  
  <div class="container px-4">
    <div class="flex mb-4">
      <div class="flex1 pt-4 pl-3">
        <div class="h1-border"></div>
      </div>
      <div class="px-3">
        <h1 class="border-0">Registrarse</h1>
      </div>
      <div class="flex1 pt-4 pl-3">
        <div class="h1-border"></div>
      </div>
    </div>
  </div>  
  <div class="container mw6 mx-auto px-4 pb-4">
    
    <form method="post" action="{% url 'registration' %}">
      {% csrf_token %}

      {{ form | crispy }}

      <div class="form-group mt-4">
        <input type="submit"  value="Enviar" class="btn btn-primary w-100" />
      </div>
    </form>
  </div>
{% endblock %}