{% extends 'base.html' %}
{% load static %}

{% block body_content %}
{{ block.super }}

  <div class="container p-3 min-vh-100">
    <div class="border-bottom">
      <h3>Mis Datos</h3>
    </div>

    <div class="row">
      <div class="col-md-9 p-3">
        <div class="row">
          <div class="col-sm-6 col-md-2 fw5 mb-1">Nombre: </div>
          <div class="col-sm-6 col-md-10">{{ profile.full_name }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-2 fw5 mb-1">Email: </div>
          <div class="col-sm-6 col-md-10">{{ profile.email }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-2 fw5 mb-1">Telefono: </div>
          <div class="col-sm-6 col-md-10">{{ profile.phone }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-2 fw5 mb-1">Genero: </div>
          <div class="col-sm-6 col-md-10">{{ profile.gender }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-2 fw5 mb-1">Cumleaños: </div>
          <div class="col-sm-6 col-md-10">{{ profile.birth_date|default:"--/--/----" }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-2 fw5 mb-1">Empresa: </div>
          <div class="col-sm-6 col-md-10">{{ profile.company|default:"-----" }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-2 fw5 mb-1">Job Title: </div>
          <div class="col-sm-6 col-md-10">{{ profile.job_title|default:"-----" }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-2 fw5 mb-1">Documento: </div>
          <div class="col-sm-6 col-md-10">{{ profile.document_type|default:"" }} {{ profile.document_number|default:"N/A" }}</div>
        </div>
      </div>
      <div class="col-md-3 py-3 h6 fw4">
        <div class="fw5 my-2">
          MENU
        </div>
        <ul class="no-bullet">
          <li><a href="{% url 'profile_edit' %}" class="no-underline">Modificar Perfil</a></li>
          <li><a href="{% url 'profile_edit' %}" class="no-underline">Modifica tu direccion</a></li>
          {% if is_speaker %}
            <li><a href="{% url 'profile_edit' %}" class="no-underline">Modificar tu perfil como Speaker</a></li>
          {% endif %}
          <li><a href="{% url 'change_password' %}" class="no-underline">Cambiar contraseña</a></li>
          <li><a href="{% url 'logout' %}" class="no-underline">Logout</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="container p-3">
    <div class="border-bottom">
      <h3>Events</h3>
    </div>
    <div class="">
      <table class="table w-100">
        <thead>
          <tr>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Active</th>
            <th>Cronogram</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for registration in registrations %}
            <tr>
              <td> {{ registration.event.name }} </td>
              <td> {{ registration.event.start_date }} </td>
              <td> {{ registration.event.end_date }} </td>
              <td> {{ registration.event.active }} </td>
              <td> 
                <a href="{% url 'event_talks' registration.event.id %}">Talks</a> 
              </td>
            </tr>
          {% endfor %}

          {% if not registrations|length %}
              <tr>
                <td colspan="5"> Don't have availables events. </td>
              </tr>

          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="container p-3">
    <div class="border-bottom">
      <h3>Talks</h3>
    </div>

    <div class="">
      <table class="table w-100">
        <thead>
          <tr>
            <th>Name</th>
            <th>Event</th>
            <th>Type</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for talk in talks %}
            <tr>
              <td> {{ talk.name }} </td>
              <td> {{ talk.event.name }} </td>
              <td> {{ talk.talk_type }} </td>
              <td> {{ talk.status }} </td>
              <td>
                <a href="{% url 'talk_preview' talk.id %}">Preview</a>
              </td>
            </tr>
          {% endfor %}

          {% if not talks|length %}
            <tr>
              <td colspan="5"> Don't have availables talks. </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

    <!-- <div class="container p-3">
      <div class="border-bottom">
        <h3>Grants</h3>
      </div>
    </div> -->
  </div>

{% endblock %}
