{% extends 'base.html' %}
{% load static %}

{% block body_content %}
{{ block.super }}
  <div class="container px-4 min-vh-100">
    {% for object in object_list %}
      <div class="mb-4">  
        <div class="h1">
          {{ object.name }}
        </div>
        <div class="border-bottom mb-3 f7">
          {{ object.start_date }} / {{ object.end_date }}
        </div>
        <div class="mb-3">
          {% if object.description %}
          {{ object.description|format_as_md }}
          {% else %}
          No hay descripción disponible para este evento.
          {% endif %}
        </div>
        <div>
          {% if user.is_authenticated %}
            {% if object.registration_enabled %}
              <a class="btn btn-primary" href="{% url 'event_registration' object.id %}">Únete ahora</a>
            {% else %}
              <div class="alert alert-danger">
                El registro no está habilitado para este evento.
              </div>
            {% endif %}
            
          {% else %}
            <div class="alert alert-warning">
              Inicie sesión o regístrese para poder unirse a este evento.
            </div>
            <div>
              <a class="btn btn-primary" href="{% url 'login' %}" class="">Iniciar sesión</a> ó
              <a class="btn btn-primary" href="{% url 'registration' %}" class="">Regístrarse</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
