{% extends 'base.html' %}
{% load event_talk_tags %}

{% block body_content %}
{{ block.super }}

{% if can_edit %}
<div class="container text-right">
  <a href="{% url 'talk_edit' talk.id %}" class="btn btn-primary">Modificar</a>
  <a href="{% url 'profile' %}" class="btn btn-secondary">Atras</a>
</div>
{% endif %}

<div class="container min-vh-100">
  {% talk_preview talk=talk %}

  <div class="h3">
    Recursos asociados
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for resource in resources %}
        <tr>
          {% if resource.type == "ResourceLink" %}
            <td>
              <a href="{{ resource.url }}" target="_blank">{{ resource.title }}</a>
            </td>
            <td>
              Link
            </td>
          {% endif %}

          {% if resource.type == "ResourceFile" %}
            <td>
              <a href="{{ resource.file.url }}" target="_blank">{{ resource.title }}</a>
            </td>
            <td>
              Archivo
            </td>
          {% endif %}

          {% if resource.type == "ResourceImage" and resource.photo %}
            <td>
              <a href="{{ resource.photo.url }}" target="_blank">{{ resource.title }}</a>
            </td>
            <td>
              Foto
            </td>
          {% endif %}
          <td class="text-end">
            <a href="{% url 'talk_resource_update' resource.id %}">Modificar</a>
            <a href="{% url 'talk_resource_delete' resource.id %}">Borrar</a>
          </td>
        </tr>
        {% endfor %}

        {% if resources.count == 0 %}
        <tr>
          <td colspan="3" class="text-center">No hay recursos cargados.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>

    {% if can_edit %}
    <div class="my-3 text-center">
      <a href="{% url 'talk_resource_type' talk.id %}" class="btn btn-primary">Agregar recurso</a>
    </div>
    {% endif %}
  </div>
</div>


{% endblock %}

