{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body_content %}
{{ block.super }}
<div class="container minh-60vh">
  <div class="mt-3 mb-4">
    <h3>Propuesta Recibida.</h3>
  </div>

  <div class="alert alert-success">
    Muchas gracias su propuesta fue enviada para revision, le estaremos avisando.
  </div>

  <p>
    Ante cualquier duda o consulta puede enviarnos un mail a <a href="mailto:contacto@pythoncientifico.ar">contacto@pythoncientifico.ar</a>
  </p>
</div>
{% endblock %}