{% extends 'base.html' %}
{% load static %}

{% block body_content %}
  <div class="container">
    <div class="h3 pt-3 px-3">
      {{ object.name }} Registration
    </div>

    <div class="p-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at molestie 
      urna, sit amet semper dolor. In hac habitasse platea dictumst. Aenean 
      placerat elit a molestie cursus. Fusce ut augue nulla. Fusce interdum lorem 
      dui, in suscipit est maximus ac. Sed eget ligula dapibus, mollis tellus vitae, 
      efficitur risus. Quisque eu vehicula dolor. Maecenas dignissim tristique 
      nulla, ac ultrices mi ornare non. Aenean dictum nisi ut arcu aliquet, sed 
      sagittis enim pharetra.
    </div>

    <div class="p-3">
      <div class="alert alert-success">
        Congratulations you are already registered in the event.
      </div>
    </div>
  </div>
{% endblock %}